<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Bingo!</title>
  <meta name="description" content="Play bingo with your friends by network!">
  <meta name="author" content="Filip">
  <link rel="stylesheet" href="../static/home.css" th:href="@{home.css}"type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>

<body>
<div id="logo">
<span id="b">B</span>
<span id="i">i</span>
<span id="n">n</span>
<span id="g">g</span>
<span id="o">o</span>
<span id="ex">!</span>
</div>

<div style="clear:both"></div>

<div id="mainContent">
	<form action="/new"method="POST">
	
	<input class="textEntry" type="text" name="name" placeholder="name">
	<div style="clear:both"></div>
	<input class="entryButton" type="submit" value="Create room">
	</form>
<div style="clear:both"></div>
<h5>or</h5>
<div style="clear:both"></div>
<h5>join your friends</h5>
<div style="clear:both"></div>
<form action="/join" method="POST">
	<input class="textEntry" type="text" name="code" placeholder="room code" maxlength="5">
	<div style="clear:both"></div>
	<input class="textEntry" type="text" name="name" placeholder="name">
	<div style="clear:both"></div>
	<input class="entryButton" type="submit" value="Join">
</form>

</div>

  
</body>
</html>
