<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bingo!</title>
    <link rel="stylesheet" href="../home.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">

</head>
<body>
<div id="topBar"><div id="logo">
    <span style="color:#ff9933;">B</span>
    <span style="color:#ffff00;">i</span>
    <span style="color:#cc0099;">n</span>
    <span style="color:#00ff00;">g</span>
    <span style="color:#ff0000;">o</span>
    <span style="">!</span>
</div></div>
<div id="main">
    <form class="horizontalForm" action="/createroom" method="POST">
        <h1>Create new room</h1>
        <div style="clear:both;"></div>
        <h2>Your name: </h2>
        <div style="clear:both;"></div>
        <input class="input" type="text" name="name">
        <div style="clear:both;"></div>
        <input class="submitButton" type="submit" value="Create">
    </form>
    <div style="clear:both;"></div>
    <h1>Or</h1>
    <div style="clear:both;"></div>
    <h1>Join friends!</h1>
    <div style="clear:both;"></div>
    <form class="horizontalForm" action ="/joinroom" method="POST">
        <h2>Room id: </h2>
        <div style="clear:both;"></div>
        <input class="input" type="text" name="roomId">
        <div style="clear:both;"></div>
        <h2>Your name: </h2>
        <div style="clear:both;"></div>
        <input class="input" type="text" name="name">
        <div style="clear:both;"></div>
        <input class="submitButton" type="submit" value="Join">
    </form>
</div>

</body>
</html>