<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="../room.css" type="text/css">
</head>
<body>
<div id="playerList"></div>
<script>
function kickUser(userId){
var request = new XMLHttpRequest()
request.open("GET", "http://localhost:8080/room/kick?id="+userId, true)
request.send()
}
setInterval(function() {
var link = window.location.href;
var number = link.slice(27, link.length);
var request = new XMLHttpRequest();
request.open("GET","http://localhost:8080/room?id=" + number, true);
request.onload = function() {
  // Begin accessing JSON data here
  var data = JSON.parse(this.response)

  if (request.status >= 200 && request.status < 400) {
  const playerListDiv = document.getElementById('playerList')
  playerListDiv.innerHTML = '';
    data.forEach(player => {
      const playerLine = document.createElement('div')
      const kickPlayerButton = document.createElement('input')
      kickPlayerButton.setAttribute('onClick', 'kickUser(player.id);')
      kickPlayerButton.setAttribute('type', 'submit')
      playerLine.setAttribute('class', 'player')
      playerLine.textContent = "[" + player.id + "] " + player.name
      playerListDiv.appendChild(kickPlayerButton)
      playerListDiv.appendChild(playerLine)
    })
  } else {
    console.log('error')
  }
}

request.send()

}, 200)


</script>
</body>
</html>