<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Bingo!</title>
  <meta name="description" content="Play bingo with your friends by network!">
  <meta name="author" content="Filip">
  <link rel="stylesheet" href="../css/room.css" th:href="@{/css/room.css}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <div id="mainContent">
        <div id="playerList">

        </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script> 
			$.(window).on('load', connect());
			function kickUser(userId){
			$.post(window.location.href+"/remove", {id_player: userId});
			clearInterval(refreshPlayers)
			refreshPlayers = setInterval(showPlayers(), 1000);
			
			}
			
			
			function showPlayers(){
				$.getJSON(window.location.href+"/players", function(data){
					var i = 0;
					const players = document.createElement("players");
					data.forEach(player => {
						const user = document.createElement("user"+ i);
						i++;
						user.setAttribute("class", "player")
						const kickUser = document.createElement("kickUser");
						if(true)  {
						kickUser.setAttribute("class", "kickUser")
						kickUser.innerHTML = "x";
						kickUser.setAttribute('onClick', 'kickUser(' + player.id_player + ');');
						}
						var playerInnerHtml = "#" + player.id_player + " " + player.name;
						if(player.is_owner){
						playerInnerHtml += "<img th:src=\"@{/img/crown.png}\" width=\"18\" height=\"18\">";
						}
						user.innerHTML = playerInnerHtml;						
						user.append(kickUser);
						players.append(user);
					})
					$("#playerList").empty();
					$("#playerList").append(players);
					
				});
			}
			$(window).on('load', function(){
			
			refreshPlayers = setInterval(showPlayers(), 1000);
			
			})
			
			
			
		</script>
		   
		
        
        <div id="game">
            <div id="newNumber">6</div>
            <div style="clear:both"></div>
            <div id="mainBoard">
                <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
                
                <div style="clear: both"></div>
                
                 <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
                
                
                 <div style="clear: both"></div>
                 
                
                 <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
                
                 <div style="clear: both"></div>
                
                 <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
                
                 <div style="clear: both"></div>
                
                 <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
                
                 <div style="clear: both"></div>
                
                 <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
                
                 <div style="clear: both"></div>
                
                 <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
                
                 <div style="clear: both"></div>
                
                 <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
                
                 <div style="clear: both"></div>
                
                 <div class="cell">1</div>
                <div class="cell">2</div>
                <div class="cell">3</div>
                <div class="cell">4</div>
                <div class="cell">5</div>
                <div class="cell">6</div>
                <div class="cell">7</div>
                <div class="cell">8</div>
                <div class="cell">9</div>
                <div class="cell">10</div>
            </div>
            
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		
        <div id="chat">
			<div id="messages">
				<div class="messageAuthor">Maciek</div>
				<div class="messageDate">19:01</div>
				<div class="message">Wiadomośćjofsojfdsoifjdsoifosdfodsifdsoifjsoijfdosifdosijfdsoijfoidsfdsoi</div>
				
				<div class="messageAuthor">Maciek</div>
				<div class="message">Wiadomość</div>
				<div class="messageAuthor">Maciek</div>
				<div class="message">Wiadomość</div>
				<div class="messageAuthor">Maciek</div>
				<div class="message">Wiadomość</div>
				<div class="messageAuthor">Maciek</div>
				<div class="message">Wiadomość</div>
				<div class="messageAuthor">Maciek</div>
				<div class="message">Wiadomość</div>
			</div>   
            <input class="messageEntry" type="text" name="newMessage" placeholder="Send message...">
            <div id="sendMessage">Send</div>
        </div>
		
		<script>
		function connect(){
			var socket = new SockJS('/messages');
			stompClient = Stomp.over(socket);
			stompClient.connetct({}, function(frame){
				console.log('Connected' + frame);
				stompClient.subscribe('/topic/greetings', function(greeting){
					showGreeting(JSON.parse(greeting.body).content);
					
				});
			});
		}
			
			
		</script>
		
    </div>
</body>
